__pycache__/
*.pyc
.venv/
.env
.DS_Store
.ipynb_checkpoints/
mlruns/
data/
models/

# --- DVC must be tracked ---
!.dvc/
!.dvc/config
!.dvcignore
/artifacts
/models
!src/fraud/data/
!src/fraud/data/**